/* Rows columns start  */

/* Base CSS for Row */
.row {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -15px;
    margin-left: -15px; */
  }
  
  .row > .col {
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 100%;
    max-width: 100%;
  }
  


  /* Base Column Class */
.col {
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 100%;
    max-width: 100%;
  }
  
  /* Columns for all sizes */
  .col-1 { flex-basis: 8.33%; max-width: 8.33%; }
  .col-2 { flex-basis: 16.66%; max-width: 16.66%; }
  .col-3 { flex-basis: 25%; max-width: 25%; }
  .col-4 { flex-basis: 33.33%; max-width: 33.33%; }
  .col-5 { flex-basis: 41.66%; max-width: 41.66%; }
  .col-6 { flex-basis: 50%; max-width: 50%; }
  .col-7 { flex-basis: 58.33%; max-width: 58.33%; }
  .col-8 { flex-basis: 66.66%; max-width: 66.66%; }
  .col-9 { flex-basis: 75%; max-width: 75%; }
  .col-10 { flex-basis: 83.33%; max-width: 83.33%; }
  .col-11 { flex-basis: 91.66%; max-width: 91.66%; }
  .col-12 { flex-basis: 100%; max-width: 100%; }
  
  /* Custom Breakpoints */
  @media (min-width: 576px) { /* Small devices (landscape phones) */
    .col-sm-1 { flex-basis: 8.33%; max-width: 8.33%; }
    .col-sm-2 { flex-basis: 16.66%; max-width: 16.66%; }
    .col-sm-3 { flex-basis: 25%; max-width: 25%; }
    .col-sm-4 { flex-basis: 33.33%; max-width: 33.33%; }
    .col-sm-5 { flex-basis: 41.66%; max-width: 41.66%; }
    .col-sm-6 { flex-basis: 50%; max-width: 50%; }
    .col-sm-7 { flex-basis: 58.33%; max-width: 58.33%; }
    .col-sm-8 { flex-basis: 66.66%; max-width: 66.66%; }
    .col-sm-9 { flex-basis: 75%; max-width: 75%; }
    .col-sm-10 { flex-basis: 83.33%; max-width: 83.33%; }
    .col-sm-11 { flex-basis: 91.66%; max-width: 91.66%; }
    .col-sm-12 { flex-basis: 100%; max-width: 100%; }
  }
  
  @media (min-width: 768px) { /* Medium devices (tablets) */
    .col-md-1 { flex-basis: 8.33%; max-width: 8.33%; }
    .col-md-2 { flex-basis: 16.66%; max-width: 16.66%; }
    .col-md-3 { flex-basis: 25%; max-width: 25%; }
    .col-md-4 { flex-basis: 33.33%; max-width: 33.33%; }
    .col-md-5 { flex-basis: 41.66%; max-width: 41.66%; }
    .col-md-6 { flex-basis: 50%; max-width: 50%; }
    .col-md-7 { flex-basis: 58.33%; max-width: 58.33%; }
    .col-md-8 { flex-basis: 66%; max-width: 66%; }
    .col-md-9 { flex-basis: 75%; max-width: 75%; }
    .col-md-10 { flex-basis: 83.33%; max-width: 83.33%; }
    .col-md-11 { flex-basis: 91.66%; max-width: 91.66%; }
    .col-md-12 { flex-basis: 100%; max-width: 100%; }
  }
  
  @media (min-width: 992px) { /* Large devices (desktops) */
    .col-lg-1 { flex-basis: 8.33%; max-width: 8.33%; }
    .col-lg-2 { flex-basis: 16.66%; max-width: 16.66%; }
    .col-lg-3 { flex-basis: 25%; max-width: 25%; }
    .col-lg-4 { flex-basis: 33.33%; max-width: 33.33%; }
    .col-lg-5 { flex-basis: 41.66%; max-width: 41.66%; }
    .col-lg-6 { flex-basis: 50%; max-width: 50%; }
    .col-lg-7 { flex-basis: 58.33%; max-width: 58.33%; }
    .col-lg-8 { flex-basis: 66.66%; max-width: 66.66%; }
    .col-lg-9 { flex-basis: 75%; max-width: 75%; }
    .col-lg-10 { flex-basis: 83.33%; max-width: 83.33%; }
    .col-lg-11 { flex-basis: 91.66%; max-width: 91.66%; }
    .col-lg-12 { flex-basis: 100%; max-width: 100%; }
  }
  
  @media (min-width: 1200px) { /* Extra large devices (large desktops) */
    .col-xl-1 { flex-basis: 8.33%; max-width: 8.33%; }
    .col-xl-2 { flex-basis: 16.66%; max-width: 16.66%; }
    .col-xl-3 { flex-basis: 25%; max-width: 25%; }
    .col-xl-4 { flex-basis: 33.33%; max-width: 33.33%; }
    .col-xl-5 { flex-basis: 41.66%; max-width: 41.66%; }
    .col-xl-6 { flex-basis: 50%; max-width: 50%; }
    .col-xl-7 { flex-basis: 58.33%; max-width: 58.33%; }
    .col-xl-8 { flex-basis: 66.66%; max-width: 66.66%; }
    .col-xl-9 { flex-basis: 75%; max-width: 75%; }
    .col-xl-10 { flex-basis: 83.33%; max-width: 83.33%; }
    .col-xl-11 { flex-basis: 91.66%; max-width: 91.66%; }
    .col-xl-12 { flex-basis: 100%; max-width: 100%; }
  }
  
/* Rows columns End  */


.text-center{
    /* text-align: center; */
}

.text-dark{
    color: black;
}


/* Padding  */
/* Base Padding Classes */
.p-1 { padding: 0.25rem; }
.p-2 { padding: 0.5rem; }
.p-3 { padding: 1rem; }
.p-4 { padding: 1.5rem; }
.p-5 { padding: 3rem; }

/* Padding for Specific Sides */

/* Top */
.pt-1 { padding-top: 0.25rem; }
.pt-2 { padding-top: 0.5rem; }
.pt-3 { padding-top: 1rem; }
.pt-4 { padding-top: 1.5rem; }
/* .pt-5 { padding-top: 3rem; } */

/* Right */
.pr-1 { padding-right: 0.25rem; }
.pr-2 { padding-right: 0.5rem; }
.pr-3 { padding-right: 1rem; }
.pr-4 { padding-right: 1.5rem; }
.pr-5 { padding-right: 3rem; }

/* Bottom */
.pb-1 { padding-bottom: 0.25rem; }
.pb-2 { padding-bottom: 0.5rem; }
.pb-3 { padding-bottom: 1rem; }
.pb-4 { padding-bottom: 1.5rem; }
.pb-5 { padding-bottom: 3rem; }

/* Left */
.pl-1 { padding-left: 0.25rem; }
.pl-2 { padding-left: 0.5rem; }
.pl-3 { padding-left: 1rem; }
.pl-4 { padding-left: 1.5rem; }
.pl-5 { padding-left: 3rem; }

/* Responsive Padding Classes */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .p-sm-1 { padding: 0.25rem; }
  .p-sm-2 { padding: 0.5rem; }
  .p-sm-3 { padding: 1rem; }
  .p-sm-4 { padding: 1.5rem; }
  .p-sm-5 { padding: 3rem; }

  .pt-sm-1 { padding-top: 0.25rem; }
  .pt-sm-2 { padding-top: 0.5rem; }
  .pt-sm-3 { padding-top: 1rem; }
  .pt-sm-4 { padding-top: 1.5rem; }
  .pt-sm-5 { padding-top: 3rem; }

  .pr-sm-1 { padding-right: 0.25rem; }
  .pr-sm-2 { padding-right: 0.5rem; }
  .pr-sm-3 { padding-right: 1rem; }
  .pr-sm-4 { padding-right: 1.5rem; }
  .pr-sm-5 { padding-right: 3rem; }

  .pb-sm-1 { padding-bottom: 0.25rem; }
  .pb-sm-2 { padding-bottom: 0.5rem; }
  .pb-sm-3 { padding-bottom: 1rem; }
  .pb-sm-4 { padding-bottom: 1.5rem; }
  .pb-sm-5 { padding-bottom: 3rem; }

  .pl-sm-1 { padding-left: 0.25rem; }
  .pl-sm-2 { padding-left: 0.5rem; }
  .pl-sm-3 { padding-left: 1rem; }
  .pl-sm-4 { padding-left: 1.5rem; }
  .pl-sm-5 { padding-left: 3rem; }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .p-md-1 { padding: 0.25rem; }
  .p-md-2 { padding: 0.5rem; }
  .p-md-3 { padding: 1rem; }
  .p-md-4 { padding: 1.5rem; }
  .p-md-5 { padding: 3rem; }

  .pt-md-1 { padding-top: 0.25rem; }
  .pt-md-2 { padding-top: 0.5rem; }
  .pt-md-3 { padding-top: 1rem; }
  .pt-md-4 { padding-top: 1.5rem; }
  /* .pt-md-5 { padding-top: 3rem; } */

  .pr-md-1 { padding-right: 0.25rem; }
  .pr-md-2 { padding-right: 0.5rem; }
  .pr-md-3 { padding-right: 1rem; }
  .pr-md-4 { padding-right: 1.5rem; }
  .pr-md-5 { padding-right: 3rem; }

  .pb-md-1 { padding-bottom: 0.25rem; }
  .pb-md-2 { padding-bottom: 0.5rem; }
  .pb-md-3 { padding-bottom: 1rem; }
  .pb-md-4 { padding-bottom: 1.5rem; }
  .pb-md-5 { padding-bottom: 3rem; }

  .pl-md-1 { padding-left: 0.25rem; }
  .pl-md-2 { padding-left: 0.5rem; }
  .pl-md-3 { padding-left: 1rem; }
  .pl-md-4 { padding-left: 1.5rem; }
  .pl-md-5 { padding-left: 3rem; }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .p-lg-1 { padding: 0.25rem; }
  .p-lg-2 { padding: 0.5rem; }
  .p-lg-3 { padding: 1rem; }
  .p-lg-4 { padding: 1.5rem; }
  .p-lg-5 { padding: 3rem; }

  .pt-lg-1 { padding-top: 0.25rem; }
  .pt-lg-2 { padding-top: 0.5rem; }
  .pt-lg-3 { padding-top: 1rem; }
  .pt-lg-4 { padding-top: 1.5rem; }
  .pt-lg-5 { padding-top: 3rem; }

  .pr-lg-1 { padding-right: 0.25rem; }
  .pr-lg-2 { padding-right: 0.5rem; }
  .pr-lg-3 { padding-right: 1rem; }
  .pr-lg-4 { padding-right: 1.5rem; }
  .pr-lg-5 { padding-right: 3rem; }

  .pb-lg-1 { padding-bottom: 0.25rem; }
  .pb-lg-2 { padding-bottom: 0.5rem; }
  .pb-lg-3 { padding-bottom: 1rem; }
  .pb-lg-4 { padding-bottom: 1.5rem; }
  .pb-lg-5 { padding-bottom: 3rem; }

  .pl-lg-1 { padding-left: 0.25rem; }
  .pl-lg-2 { padding-left: 0.5rem; }
  .pl-lg-3 { padding-left: 1rem; }
  .pl-lg-4 { padding-left: 1.5rem; }
  .pl-lg-5 { padding-left: 3rem; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .p-xl-1 { padding: 0.25rem; }
  .p-xl-2 { padding: 0.5rem; }
  .p-xl-3 { padding: 1rem; }
  .p-xl-4 { padding: 1.5rem; }
  .p-xl-5 { padding: 3rem; }

  .pt-xl-1 { padding-top: 0.25rem; }
  .pt-xl-2 { padding-top: 0.5rem; }
  .pt-xl-3 { padding-top: 1rem; }
  .pt-xl-4 { padding-top: 1.5rem; }
  .pt-xl-5 { padding-top: 3rem; }

  .pr-xl-1 { padding-right: 0.25rem; }
  .pr-xl-2 { padding-right: 0.5rem; }
  .pr-xl-3 { padding-right: 1rem; }
  .pr-xl-4 { padding-right: 1.5rem; }
  .pr-xl-5 { padding-right: 3rem; }

  .pb-xl-1 { padding-bottom: 0.25rem; }
  .pb-xl-2 { padding-bottom: 0.5rem; }
  .pb-xl-3 { padding-bottom: 1rem; }
  .pb-xl-4 { padding-bottom: 1.5rem; }
  .pb-xl-5 { padding-bottom: 3rem; }

  .pl-xl-1 { padding-left: 0.25rem; }
  .pl-xl-2 { padding-left: 0.5rem; }
  .pl-xl-3 { padding-left: 1rem; }
  .pl-xl-4 { padding-left: 1.5rem; }
  .pl-xl-5 { padding-left: 3rem; }
}

/* Padding  */


/* Margin  */

/* Base Margin Classes */
.m-1 { margin: 0.25rem; }
.m-2 { margin: 0.5rem; }
.m-3 { margin: 1rem; }
.m-4 { margin: 1.5rem; }
.m-5 { margin: 3rem; }

/* Margin for Specific Sides */

/* Top */
.mt-1 { margin-top: 0.25rem; }
.mt-2 { margin-top: 0.5rem; }
.mt-3 { margin-top: 1rem; }
.mt-4 { margin-top: 1.5rem; }
/* .mt-5 { margin-top: 3rem; } */

/* Right */
.mr-1 { margin-right: 0.25rem; }
.mr-2 { margin-right: 0.5rem; }
.mr-3 { margin-right: 1rem; }
.mr-4 { margin-right: 1.5rem; }
.mr-5 { margin-right: 3rem; }

/* Bottom */
.mb-1 { margin-bottom: 0.25rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mb-3 { margin-bottom: 1rem; }
.mb-4 { margin-bottom: 1.5rem; }
.mb-5 { margin-bottom: 3rem; }

/* Left */
.ml-1 { margin-left: 0.25rem; }
.ml-2 { margin-left: 0.5rem; }
.ml-3 { margin-left: 1rem; }
.ml-4 { margin-left: 1.5rem; }
.ml-5 { margin-left: 3rem; }

/* Responsive Margin Classes */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .m-sm-1 { margin: 0.25rem; }
  .m-sm-2 { margin: 0.5rem; }
  .m-sm-3 { margin: 1rem; }
  .m-sm-4 { margin: 1.5rem; }
  .m-sm-5 { margin: 3rem; }

  .mt-sm-1 { margin-top: 0.25rem; }
  .mt-sm-2 { margin-top: 0.5rem; }
  .mt-sm-3 { margin-top: 1rem; }
  .mt-sm-4 { margin-top: 1.5rem; }
  .mt-sm-5 { margin-top: 3rem; }

  .mr-sm-1 { margin-right: 0.25rem; }
  .mr-sm-2 { margin-right: 0.5rem; }
  .mr-sm-3 { margin-right: 1rem; }
  .mr-sm-4 { margin-right: 1.5rem; }
  .mr-sm-5 { margin-right: 3rem; }

  .mb-sm-1 { margin-bottom: 0.25rem; }
  .mb-sm-2 { margin-bottom: 0.5rem; }
  .mb-sm-3 { margin-bottom: 1rem; }
  .mb-sm-4 { margin-bottom: 1.5rem; }
  .mb-sm-5 { margin-bottom: 3rem; }

  .ml-sm-1 { margin-left: 0.25rem; }
  .ml-sm-2 { margin-left: 0.5rem; }
  .ml-sm-3 { margin-left: 1rem; }
  .ml-sm-4 { margin-left: 1.5rem; }
  .ml-sm-5 { margin-left: 3rem; }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .m-md-1 { margin: 0.25rem; }
  .m-md-2 { margin: 0.5rem; }
  .m-md-3 { margin: 1rem; }
  .m-md-4 { margin: 1.5rem; }
  .m-md-5 { margin: 3rem; }

  .mt-md-1 { margin-top: 0.25rem; }
  .mt-md-2 { margin-top: 0.5rem; }
  .mt-md-3 { margin-top: 1rem; }
  .mt-md-4 { margin-top: 1.5rem; }
  .mt-md-5 { margin-top: 3rem; }

  .mr-md-1 { margin-right: 0.25rem; }
  .mr-md-2 { margin-right: 0.5rem; }
  .mr-md-3 { margin-right: 1rem; }
  .mr-md-4 { margin-right: 1.5rem; }
  .mr-md-5 { margin-right: 3rem; }

  .mb-md-1 { margin-bottom: 0.25rem; }
  .mb-md-2 { margin-bottom: 0.5rem; }
  .mb-md-3 { margin-bottom: 1rem; }
  .mb-md-4 { margin-bottom: 1.5rem; }
  .mb-md-5 { margin-bottom: 3rem; }

  .ml-md-1 { margin-left: 0.25rem; }
  .ml-md-2 { margin-left: 0.5rem; }
  .ml-md-3 { margin-left: 1rem; }
  .ml-md-4 { margin-left: 1.5rem; }
  .ml-md-5 { margin-left: 3rem; }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .m-lg-1 { margin: 0.25rem; }
  .m-lg-2 { margin: 0.5rem; }
  .m-lg-3 { margin: 1rem; }
  .m-lg-4 { margin: 1.5rem; }
  .m-lg-5 { margin: 3rem; }

  .mt-lg-1 { margin-top: 0.25rem; }
  .mt-lg-2 { margin-top: 0.5rem; }
  .mt-lg-3 { margin-top: 1rem; }
  .mt-lg-4 { margin-top: 1.5rem; }
  .mt-lg-5 { margin-top: 3rem; }

  .mr-lg-1 { margin-right: 0.25rem; }
  .mr-lg-2 { margin-right: 0.5rem; }
  .mr-lg-3 { margin-right: 1rem; }
  .mr-lg-4 { margin-right: 1.5rem; }
  .mr-lg-5 { margin-right: 3rem; }

  .mb-lg-1 { margin-bottom: 0.25rem; }
  .mb-lg-2 { margin-bottom: 0.5rem; }
  .mb-lg-3 { margin-bottom: 1rem; }
  .mb-lg-4 { margin-bottom: 1.5rem; }
  .mb-lg-5 { margin-bottom: 3rem; }

  .ml-lg-1 { margin-left: 0.25rem; }
  .ml-lg-2 { margin-left: 0.5rem; }
  .ml-lg-3 { margin-left: 1rem; }
  .ml-lg-4 { margin-left: 1.5rem; }
  .ml-lg-5 { margin-left: 3rem; }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .m-xl-1 { margin: 0.25rem; }
  .m-xl-2 { margin: 0.5rem; }
  .m-xl-3 { margin: 1rem; }
  .m-xl-4 { margin: 1.5rem; }
  .m-xl-5 { margin: 3rem; }

  .mt-xl-1 { margin-top: 0.25rem; }
  .mt-xl-2 { margin-top: 0.5rem; }
  .mt-xl-3 { margin-top: 1rem; }
  .mt-xl-4 { margin-top: 1.5rem; }
  .mt-xl-5 { margin-top: 3rem; }

  .mr-xl-1 { margin-right: 0.25rem; }
  .mr-xl-2 { margin-right: 0.5rem; }
  .mr-xl-3 { margin-right: 1rem; }
  .mr-xl-4 { margin-right: 1.5rem; }
  .mr-xl-5 { margin-right: 3rem; }

  .mb-xl-1 { margin-bottom: 0.25rem; }
  .mb-xl-2 { margin-bottom: 0.5rem; }
  .mb-xl-3 { margin-bottom: 1rem; }
  .mb-xl-4 { margin-bottom: 1.5rem; }
  .mb-xl-5 { margin-bottom: 3rem; }

  .ml-xl-1 { margin-left: 0.25rem; }
  .ml-xl-2 { margin-left: 0.5rem; }
  .ml-xl-3 { margin-left: 1rem; }
  .ml-xl-4 { margin-left: 1.5rem; }
  .ml-xl-5 { margin-left: 3rem; }
}

/* Margin  */


.justify-content-center{
  justify-content: center;  
}


/* text color Start  */

.text-black{
  color: black;
}
/* text color End  */
/* Width  start  */
.w-100{
  width: 100%;
}
.d-flex{
  display: flex;
}
/* Width   start*/

.w-50{
  width: 50%;
}
.w-75{
  width: 75%;
}
.w-25{
  width: 25%;
}
.w-35{
  width: 35%;
}

@media(min-width:768px)
{
  .w-md-75{
    width: 75%;
  }
  
  .w-md-25{
    width: 25%;
  }
}


/* Add to your customcss.css */
/* .navbar-wrappers {
  position: relative;
  z-index: 1000;
} */

/* .navbar {
  top: 0;
  background: white;
  z-index: 1000;
} */

.w-nav-menu {
  transition: all 0.3s ease;
}

/* Mobile menu styles */
@media (max-width: 991px) {
  .w-nav-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    /* background: white; */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .w--open {
    display: block !important;
  }
}


@media (max-width: 991px) {

  /* Hide the transparent secondary navbar on mobile */
  .navbar_secoundary {
    display: none !important;
  }

  /* Make the main white navbar fixed at the top */
  .navbar {
    position: fixed !important; /* Forces the navbar to stay fixed */
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    transform: none !important; /* Resets any transforms applied by scripts */
    z-index: 9999 !important;   /* Ensures it's on top of all other content */
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  /* body {
    padding-top: 70px;
  } */

}


/* Hide dropdown content by default */
.dropdown-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
}

.dropdown.is-open .dropdown-content {
  max-height: 500px; /* A large enough value to show all content */
  opacity: 1;
}

.dropdown .fa-plus::before {
  content: "\f067"; /* Font Awesome Plus Icon */
  transition: transform 0.3s ease;
}

.dropdown.is-open .fa-plus::before {
  content: "\f068"; /* Font Awesome Minus Icon */
  transform: rotate(270deg);
}








/* =====================================================================
   DISABLE DESKTOP HOVER ON MOBILE TO PREVENT CONFLICTS
   ===================================================================== */
@media (max-width: 991px) {
  .dropdown:hover .dropdown-content {
    max-height: 0;
    opacity: 0;
  }

  .dropdown-toggle .fas.fa-minus::before {
    content: "\f068"; /* Font Awesome Minus Icon */
  }
}



/* Sub-dropdown Container */
.sub-dropdown {
  position: relative;
}

/* Sub-dropdown Content (Hidden by default, positioned to the right) */
.sub-dropdown .sub-dropdown-content {
  display: none;
  position: absolute;
  left: 100%;
  top: -11px; /* Adjust vertical alignment */
  background-color: #f9f9f9;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
  padding-block: 10px;
  border-left: 1px solid #ddd;
}

/* Show sub-dropdown on hover of its container */
.sub-dropdown:hover .sub-dropdown-content {
  display: block;
}

/* Sub-dropdown link styling */
.sub-dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Sub-dropdown icon */
.sub-dropdown-toggle .fas {
  transition: transform 0.3s ease;
  font-size: 0.8em;
  padding-top: 3px;
}

/* Mobile-specific styles for sub-dropdowns */
@media (max-width: 991px) {
  /* Stop hover effect on desktop */
  .sub-dropdown:hover .sub-dropdown-content {
    display: none;
  }

  /* Reset sub-dropdown positioning for mobile */
  .sub-dropdown .sub-dropdown-content {
    position: static;
    left: auto;
    top: auto;
    width: 100%;
    box-shadow: none;
    background-color: #e8e8e8; /* Slightly different color for nesting */
    border-left: none;
    padding-left: 20px; /* Indent sub-items */
    padding-top: 0;
    padding-bottom: 0;
  }
  
  /* Icon rotation for mobile toggle */
  .sub-dropdown-toggle .fa-chevron-down {
      transform: rotate(90deg);
  }
}



  .table-wrapper {
    width: 100%;
    overflow-x: auto; /* scroll on mobile */
    padding: 30px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    min-width: 600px; /* keep structure like your image */
    border: 1px solid #000;
  }

  th, td {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
    font-size: 14px;
  }

  /* Top merged heading */
  .heading {
    font-weight: bold;
    font-size: 15px;
  }

  /* Vertical "COLOR CODE" cell */
  .vertical {
    writing-mode: vertical-rl;
    transform: rotate(270deg);
    font-weight: bold;
  }

  /* Color swatch column */
  .color-cell {
    font-weight: bold;
    color: #fff;
    text-align: center;
  }
  .blue { background: #00aeef; }
  .red { background: #ed1c24; }
  .white { background: #fff; color: #000; }

  /* Responsive: shrink font and allow scroll */
  @media (max-width: 600px) {
    th, td { font-size: 12px; padding: 6px; }
    table { min-width: 100%; }
  }