.locations-section {
  max-width: 1000px;
  margin: 2rem auto;
  text-align: center;
}

.locations-section h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #111827;
}

.locations-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}

.location-card {
  background-color: white;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.location-card a{
    text-decoration: none;
}
.location-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.location-card h3 {
  color: #000;
  margin-bottom: 0.5rem;
}